<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TP05</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header class="header2">
        <div class="logoempresa">
            <img src="~/Imagenes/favicon.png" alt="Logo de la empresa">
        </div>
        <div class="texto-nav3">
            <h2>LA MANSIÓN INFINITA</h2>
        </div>
        <nav class="nav3">
            <ul class="lista3">
                <li><a href='@Url.Action("Index","Home")'>Home</a></li>
                <li><a href="#">Cómo Jugar</a></li>
                <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
                <li><a href="#">No cliquees aquí 🥶</a></li>
            </ul>
        </nav>
    </header>
        <div style="padding:10px 0px 0px 15px;">
            @RenderBody()
        </div>
        <footer>
                &copy; @DateTime.Now.Year - Taller de Programación - TP05
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
